  *{

background-color: darkred;


  }


  header {


    font-family: 'Dancing Script', cursive;
font-size: 80px;
color:  rgb(20,255,83);
text-align: center;

background-color: black;
  width: 300px;
  border: 10px solid yellow;
  padding: 20px;
  margin: 20px;

  }


  a{



  color: rgb(214,27,247);
  font-family: 'Dancing Script', cursive;
font-family: 'Playfair Display', serif;


font-size: 20px;


}


a:link {
  color: red;
}


a:visited {
  color: limegreen;
}


a:hover {
  color: rgb(20,167,193);
}


a:active {
  color: blue;
}




  }